
.footer {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 60px 50px;
  color: #fff;
  font-family: Arial, sans-serif;
}

.footer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.445);
  z-index: 1;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin-top: 395px;
}

.footer-section {
  max-width: 250px;
}

.footer-section a:hover{
  color: rgb(249, 251, 251);
}

.footer-title {
  font-size: 15px;
  line-height: 1.5;
  color: #ddd;
}

.footer-sub {
  margin-top: 20px;
  font-size: 14px;
  color: #ccc;
}

.footer-contact p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-social-icons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  font-size: 20px;
  color: #ccc;
}

.footer-social-icons:hover{
  color: rgb(246, 247, 247);
}

.payment-icons img {
  width: 90px;
  margin-right: 10px;
  
}

.footer-section a {
  display: block;
  color: #ccc;
  margin-top: 8px;
  text-decoration: none;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.tech-title {
  font-weight: bold;
  margin-top: 10px;
}

.tech-sub {
  color: #ccc;
}

.footer-bottom {
  border-top: 1px solid #f0eaea;
  margin-top: 30px;
  padding-top: 20px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 20px;
}
