.topbar{
background: rgba(215, 224, 204, 0.86);
color:#000000;
display: flex;
justify-content: space-between;
font-size: 14px;
padding: 10px 40px;
align-items: center;
margin: 1;
}

.topbar .left span{
    margin-right: 25px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.topbar .right button{
    margin-left: 15px;
    padding: 6px 15px;
    border-radius: 20px;
    cursor:pointer
}

.login{
    background: #1b5d67;
    color: #fff;
}

.signup {
  background: transparent;
  color: #000000;
}